* {
    margin:0;
    padding:0;
    color: #333333;
    box-sizing: border-box;
    box-sizing: inherit;
    list-style-type:none;
}

body{
    font-size:18px;
}

img {
    max-width:100%; 
}

a {
    display:block; 
    text-decoration:none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width:1170px;
    width: 100%;
}

main img {width:100%;} 

/* ------------- HEADER --------------- */
header {
    display:flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom: 15px;
}
    
.topleftlogo img {
    max-width:80%;
}

.nav-container li {
    display:inline-block;
    text-transform: uppercase;
    font-size: 16px;
}   

.nav-container a, .navitem a {
    padding-top:30px; 
    padding-left:15px;
}



/* ------------------------- MAIN BANNER --------------------------- */
.banner-top {
    position: relative;
    z-index: 1;
}

.banner-top img {
    width: 100%;
}

.banner-mid {
    position: absolute;
    display: block;
    z-index: 3;
    background: white;
    width: 750px;
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:52%;
    line-height: 2.2;
}

.banner-mid-text h1 {
    color: #35733c;
}

.banner-mid-text h2 {
    color: #333333;
}


.banner-mid-circle {
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    background: orangered;
    width: 120px;
    height: 120px;
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    top: 40%;
    left: 90%;
}

.banner-mid-circle p {
    position: relative;
    top:20%;
}

.banner-mid-circle a {
    color: white;
}


.banner-bottom {
    position: relative;
    z-index: 2;
}

/* Green Info */
.green-info {
    display: flex;
    background: #35733c;
    width: 100%;        
}

.green-info-text {
    width: 90%;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px;
} 

.green-info-logo {
    width: 10%;
    text-align: center;
} 

.green-info img {
    max-width: 40px;
    height: 40px;
}

.green-info p {
    color: white;
}

/* ---------Eyes----------- */
.eyes {
    display: flex;
    justify-content: space-between;
    background: #363636;
    align-items: center;
}

.eyes h2 {
    color: white;
    font-size: 50px;
    
}
.eyes img {
    width: 15%;

}

/* ---- Slides ----- */
.slides {
    display: flex;
}

.slide1 {
    width: 50%;
}

.slide2 {
    width: 25%;
}

.slides img {
    max-width: 100%;
    height: auto;
}

.slides p {
    font-size: 16px;
    font-family: serif;
    padding: 5px;
    line-height: 1.7;
}

.slides h2 {
    padding: 5px;
    line-height: 1.5;
}

.date {
    font-size: 18px;
    color: #35733c;
    font-weight: bold;
}

/* Eyes 2 */
.eyes {
    display: flex;
    justify-content: space-between;
    background: #363636;
    align-items: center;
}

.eyes h2 {
    color: white;
    
}
.eyes img {
    width: 15%;
}

/* ------- Blues------ */
.blues {
    position: relative; 
    background-color:#7ab7bc;
    text-align:center;
    padding:2em;
}

.blues h2 {
    font-size: 30px;  
    padding: 10px;
    line-height: 1.3;
}

.blues p {
    font-size: 15px;
}

.blues .date {
    color:white; 
    letter-spacing: 0.2em;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    font-size: 18px;
}


.blues .blue-circle {
    top:20%;
    left:85%;
    font-size: 24px;    
}


.blues div {
    width:40%;
    margin:auto;
}

.blue-circle {
    position: absolute;
    text-align:center;
    vertical-align: middle;
    line-height: 5em;
    font-size:25px;    
    width:120px;
    height:120px;
    background:orangered;
    border-radius: 50%;
    z-index:5;
    left:70%;
    top:30%;   
    color: white; 
}

/* ------------ Article --------- */

.article {
    display:flex;
    flex-wrap: wrap;
}

.article div {
    padding:30px 20px;
}

.article p {
    font-size: 15px;
    letter-spacing: 1;
    line-height: 2;
}

.article h2 {
    font-size:30px; 
    padding-bottom:5px; 
}

.tikki {
    text-align: center;
}     

.tikki p {
    font-family: 'Times New Roman', Times, serif;
}

.tikki h2 {
    font-size: 40px;
    color:#32804B;
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 24px;
}


.ajattelen {
    font-size: 2em;
    line-height: 1.5;
    font-style: italic;
}


/* ----- before footer ----- */
.logos {
    display:flex;
}
    
/* FOOTER */

footer {
    width: 100%;
}
.footer-1-background {
    background-image: url(images/bg-footer-navi.jpg);
}

.footer-1 {
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
    padding: 20px;
}

.footer-1 ul li, .footer-1 ul li h4  {
 color: white; 
 font-weight: 1;
 font-size: 14px;
}

.footer-1 ul li h4 {
    padding-bottom: 10px;
    font-size: 18px;
    text-align: left;
} 

.footer-ul-1 {
    line-height: 2;
    font-size: 20px;
}

.footer-button {
    border: 2px solid white;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.footer-2 {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.social-icons {
    line-height: 0.5;
    margin: auto 0;
}
.social-icons img {
    width:20%;
}

.tampere {
    display: flex;
    padding: 10px;
}

.tampere p {
    margin: auto;
}

.tampere img {
    margin: auto;
    padding-left: 10px;
}

/* -------------Media Queries ----------- */

@media (max-width:900px) {
    .container  {
        max-width: 91%;
        margin:0;
        overflow-x: hidden;
    }

    .nav-container {display:none;}

    .eyes {
        display: block;
        text-align: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .eyes img {display: none;}

    .eyes h2 {font-size: 30px;}

    .blues {padding: 0;}

    .tikki p {font-size: 20px;}

    .slides {
        flex-wrap: wrap;
        text-align:left;
    }
    .slide1, .slide2 {
        width:100%;
    }

    .slides h2 {font-size: 20px;}

    .blues .blue-circle {
        margin-top:15px ; 
        left:40%;
        font-size: 20px;
        position: relative;
        width:80px;
        height:80px;    
    }

    .tampere img {
        padding-left: 10px;
        width: 50%;
    }
    
    .banner-mid-circle {display: none;}

    .banner-mid {position: relative;}

    .blues h2 {display: none;}

    .logos {flex-wrap: wrap;}
    
    .footer-1 {flex-wrap: wrap;}